* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}

header .header .top-side {
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: #6bacc8;
  height: 40px;
}
@media screen and (max-width: 992px) {
  header .header .top-side {
    height: 100%;
  }
}
header .header .top-side .top-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  header .header .top-side .top-side-container {
    flex-direction: column;
  }
}
header .header .top-side .top-side-container h6 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: white;
}
@media screen and (max-width: 576px) {
  header .header .top-side .top-side-container h6 {
    font-size: 15px;
  }
}
@media screen and (max-width: 373px) {
  header .header .top-side .top-side-container h6 {
    font-size: 10px;
  }
}
header .header .top-side .top-side-container .contact {
  display: flex;
  align-items: center;
  right: 50px;
  position: absolute;
}
@media screen and (max-width: 992px) {
  header .header .top-side .top-side-container .contact {
    position: unset;
  }
}
header .header .top-side .top-side-container .contact .fa-phone {
  color: white;
  margin: 0 10px;
}
header .header .top-side .top-side-container .contact .icon {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: white;
}
@media screen and (max-width: 576px) {
  header .header .top-side .top-side-container .contact .icon {
    font-size: 15px;
  }
}
@media screen and (max-width: 373px) {
  header .header .top-side .top-side-container .contact .icon {
    font-size: 10px;
  }
}
header .header .top-side .top-side-container .contact .icon i {
  margin: 0 5px;
}
header .header .medium-side {
  margin: 10px 0;
}
header .header .medium-side .medium-side-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  header .header .medium-side .medium-side-container {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media only screen and (max-width: 576px) {
  header .header .medium-side .medium-side-container .logo {
    width: 150px;
  }
}
header .header .medium-side .medium-side-container .brands {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .header .medium-side .medium-side-container .brands img {
  margin-left: 20px;
}
@media only screen and (max-width: 576px) {
  header .header .medium-side .medium-side-container .brands {
    flex-direction: column;
    row-gap: 20px;
  }
}
header .header .medium-side .medium-side-container .searching-side {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  header .header .medium-side .medium-side-container .searching-side {
    flex-direction: column !important;
  }
}
header .header .medium-side .medium-side-container .searching-side .searching {
  position: relative;
  width: 250px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}
@media screen and (max-width: 576px) {
  header .header .medium-side .medium-side-container .searching-side .searching {
    width: 200px;
  }
}
header .header .medium-side .medium-side-container .searching-side .searching .search-input {
  width: 100%;
}
header .header .medium-side .medium-side-container .searching-side .searching .fa-magnifying-glass {
  position: absolute;
  right: 10px;
  color: rgba(128, 128, 128, 0.8588235294);
  top: 5px;
}
header .header .medium-side .medium-side-container .searching-side .searching .fa-magnifying-glass::-moz-placeholder {
  padding: 10px;
}
header .header .medium-side .medium-side-container .searching-side .searching .fa-magnifying-glass::placeholder {
  padding: 10px;
}
header .header .medium-side .medium-side-container .searching-side .fa-shopping-basket {
  color: gray;
}
header .header .medium-side .medium-side-container .searching-side h6 {
  margin-bottom: 0;
  color: gray;
}
header .header .bottom-side {
  margin: 20px 0;
}
header .header .bottom-side .bottom-side-header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
header .header .bottom-side .bottom-side-header ul li a {
  color: rgba(0, 0, 0, 0.628);
  font-weight: 600;
  font-size: 13px;
}

#hero {
  padding: 50px 0;
}
#hero .row {
  flex-basis: 100%;
  row-gap: 20px;
}
#hero .row .left {
  background: url("./images/bannerRight.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0 50px;
  overflow: hidden;
}
#hero .row .left::after {
  background-color: rgba(0, 0, 0, 0.15);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
#hero .row .left .left-content {
  position: relative;
  width: 40%;
  z-index: 2;
}
#hero .row .left .left-content h3 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  line-height: 1.5;
}
#hero .row .left .left-content h3 span {
  color: #279;
}
#hero .row .left .addition-img {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 25px;
  right: 100px;
  width: 200px;
  height: 200px;
}
#hero .row .left .addition-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#hero .row .right {
  position: relative;
  background: url("./images/bannerLeft.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  overflow: hidden;
  padding: 10px 20px;
}
#hero .row .right .right-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}
#hero .row .right .right-content h3 {
  width: 100%;
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  color: #000;
}
#hero .row .right .right-content .right-content-bottom {
  margin-top: 60px;
  position: relative;
  z-index: 2;
}
#hero .row .right .right-content .right-content-bottom h5 {
  font-size: 16px;
  color: gray;
}
#hero .row .right .right-content .right-content-bottom h3 {
  font-size: 18px;
  font-weight: bold;
}
#hero .row .right .right-content .right-content-bottom button {
  margin-top: 10px;
  font-size: 16px;
  min-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db3333;
}
#hero .row .right .right-content .right_img {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  right: -30px;
}
#hero .row .right .right-content .right_img img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .addition-img {
    right: 65px;
    bottom: 35px;
  }
}
@media screen and (max-width: 992px) {
  .left-content {
    position: relative;
    width: 60%;
    margin-bottom: 30px;
  }
  .addition-img {
    right: 100px;
    bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .left {
    padding: 0 20px;
  }
  .left-content {
    width: 100%;
  }
  .addition-img {
    right: 40px;
    height: 150px;
    width: 150px;
    bottom: 35px;
  }
}
@media screen and (max-width: 576px) {
  .left {
    flex-direction: column-reverse;
    height: 430px;
  }
  .left-content h3 {
    font-size: 24px;
  }
  .addition-img {
    position: relative;
    right: 0;
    left: 0;
    height: 200px;
    width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}
#products {
  height: 100vh;
}
#products h3 {
  text-decoration: underline !important;
  font-weight: 400;
  font-size: 20px;
  color: #009bc7;
}
#products .products .card {
  display: flex;
  flex-direction: column;
  border: none;
  display: flex;
  width: 300px;
}
#products .products .card .img-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
  padding: 10px;
  border-radius: 10px;
}
#products .products .card .img-btn img {
  width: 50px;
}
#products .products .card .img-btn .buttons {
  padding: 4px;
  margin: 5px 0;
  overflow: hidden;
}
#products .products .card .img-btn .buttons .best-selling-btn {
  outline: none;
  border: 1px solid #009bc7;
  border-radius: 4px;
  padding: 4px 10px;
  color: white;
  background-color: #009bc7;
}
#products .products .card .img-btn .buttons .free-btn {
  outline: none;
  border: 1px solid #db3333;
  border-radius: 4px;
  padding: 4px 10px;
  color: white;
  background-color: #db3333;
}
#products .products .card .content-side h6 {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
#products .products .card .content-side h5 {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
#products .products .card .content-side span {
  color: #444a51;
  font-size: 18px;
  font-weight: 400;
}
#products .products .card .content-side .wishlist-btn {
  position: relative;
}
#products .products .card .content-side .wishlist-btn button {
  width: 100%;
  border: 1px solid #0ea4cf;
  border-radius: 5px;
  background: none;
  padding: 4px;
  color: #0ea4cf;
}
#products .products .card .content-side .wishlist-btn i {
  position: absolute;
  right: 28%;
  top: 7px;
  color: #0ea4cf;
}/*# sourceMappingURL=main.css.map */